.header{
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    color: white;
    font-size: 20px;
    padding: 1rem 80px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.white_header{
    background-color: white;
    color: rgb(233, 58, 52);
}
.tabs{
    display: flex;
    width: 40%;
    margin: auto;
    font-family: 'NunitoSans-Regular';
    justify-content: space-around;
    font-size: 19px;
}